@model WatchStore.Web.Models.Product

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .image-detail {
        position: relative;
    }

        .image-detail span {
            position: absolute;
            top: 44%;
            left: 33%;
            display: none;
        }

        .image-detail:hover span {
            display: block;
        }

        .image-detail:hover img {
            opacity: 0.5;
        }
</style>

<h3>Cập nhật sản phẩm</h3>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Summary" class="control-label"></label>
                <input asp-for="Summary" class="form-control" />
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>

            <p>Chọn file ảnh</p>
            <input class="collapse"
                   type="file"
                   id="selectfileupload"
                   onchange="AutoUploadPhoto()" />

            <span class="btn btn-primary" onclick="ClickButtoUpload()">Tải ảnh lên</span>
            <hr>
            <div id="box-photo-upload" class="d-flex flex-wrap photo-upload" data-id="@Model.Id">
            </div>

            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Danh mục cha</label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" readonly/>
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" readonly/>
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cập nhật" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@{
    var summernote = new WatchStore.Web.Models.Summernote("#Description");
}
<partial name="_SummerNote" model="summernote" />

<div>
    <a asp-action="Index" class="btn btn-primary">Quay lại danh sách sản phẩm</a>
    </br>
    </br>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        function AutoUploadPhoto() {
            var formData = new FormData();
            var id = $("#box-photo-upload").data("id");
            formData.append("id", id);
            var sofile = document.getElementById("selectfileupload").files.length;
            if (sofile == 0) return;
            var fileData = document.getElementById("selectfileupload").files[0];
            formData.append("FileUpload", fileData)
            var urlUpload = "@Url.Action("UploadPhotoApi")";
            $.ajax({
                data: formData,
                cache: false,
                url: urlUpload,
                type: "POST",
                contentType: false,
                processData: false,
                success: function (data) {
                    LoadPhotos();
                }
            });
        }
        function ClickButtoUpload() {
            $("#selectfileupload").click();
        }
        function setClickDeletePhoto() {
            $("#box-photo-upload .image-detail span").click(function () {
                if (confirm("Có chắc chắn xóa ảnh?") != true) return;
                var spanButton = $(this);
                var id = spanButton.data("id");
                var formData = new FormData();
                formData.append("id", id);
                var urlDeletePhoto = "@Url.Action("DeletePhoto")";
                $.ajax({
                    data: formData,
                    cache: false,
                    url: urlDeletePhoto,
                    type: "POST",
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        LoadPhotos();

                    }
                });

            });
        }
        function LoadPhotos() {
            var box = $("#box-photo-upload");
            var ProductID = box.data("id");
            box.empty();
            var formData = new FormData();
            formData.append("id", ProductID);
            var urlListPhoto = "@Url.Action("ListPhotos")";
            $.ajax({
                data: formData,
                cache: false,
                url: urlListPhoto,
                type: "POST",
                contentType: false,
                processData: false,
                success: function (data) {
                    data.photos.forEach(function (item) {
                        var e = $(
                            '<div class="image-detail w-25 p-1">'
                            + '<img class="w-100" src="' + item.path + '" />'
                            + '<span class="btn btn-danger" data-id="' + item.id + '">Delete</span></div>');
                        box.append(e);
                    });
                    setClickDeletePhoto();
                }
            });

        }
        $(document).ready(function () {
            LoadPhotos();
        });
    </script>
}
