@{
    ViewData["Title"] = "Xác thực email";
}

<div class="container">
    <h1 style="font-size: 36px">@ViewData["Title"].</h1>
    <p style="font-size: 16px">
        Bạn đã hoàn thành xác thực email. 
        Hãy <a asp-controller="Account" asp-action="Login">bấm vào đây để đăng nhập</a>.
    </p>
</div>