@{
    ViewData["Title"] = "Có lỗi";
}


<div class="container">
    <h1 style="font-size: 36px">@ViewData["Title"]</h1>
    <p style="font-size: 16px">
        Lỗi không hoàn thành được tác vụ
    </p>
</div>