@{
    ViewData["Title"] = "Lỗi xác thực email";
}


<div class="container">
    <h1 style="font-size: 36px">@ViewData["Title"].</h1>
    <p style="font-size: 16px">
        Có lỗi khi xác thực địa chỉ mail
    </p>
</div>