@{
    ViewData["Title"] = "Tạm khóa tài khoản";
}

<div class="container">

    <header>
        <h1 style="font-size: 36px" class="text-danger">@ViewData["Title"]</h1>
        <p style="font-size: 16px" class="text-danger">
            Tài khoản bị tạm khóa, hãy thử lại sau
        </p>
    </header>
</div>