@{
    ViewData["Title"] = "Thông báo";
}
<div class="container" style="margin-top: 20rem">
    <h1 style="font-size: 3.6rem">@ViewData["Title"]</h1>
    <p style="font-size: 16px">
        Hãy kiểm tra hòm thư để biết cách xác thực tài khoản
    </p>
</div>