<section class="slider">
    <div class="list-slide active">
        <img src="~/assets/img/slide1.jpg" alt="" class="slide-img">
        <div class="overlay">
            <h1 class="animate__animated animate__fadeInDown" style="animation-delay: 3s">BST Seiko Đỉnh Nhất</h1>
        </div>
    </div>

    <div class="list-slide">
        <img src="~/assets/img/slide2.jpg" alt="" class="slide-img">
        <div class="overlay">
            <h1 class="animate__animated animate__fadeInUp" style="animation-delay: 3s">Xứng Tầm Doanh Nhân</h1>
        </div>
    </div>

    <div class="list-slide">
        <img src="~/assets/img/slide3.jpg" alt="" class="slide-img">
        <div class="overlay">
            <h1 class="animate__animated animate__fadeInLeft" style="animation-delay: 3s">Sang Trọng & Đẳng Cấp</h1>
        </div>
    </div>

    <div class="next-slide">
        <div class="progess">
            <div class="progess-fill active"></div>
        </div>

        <div class="progess">
            <div class="progess-fill"></div>
        </div>

        <div class="progess">
            <div class="progess-fill"></div>
        </div>
    </div>
</section>